<div id="bgimg" class="text-white" align="center">
  <br><br><br><br><br><br>
<h1 class="p-3 mb-2 bg-dark" style="opacity: 0.7;">About us</h1>
<br><br><br><br><br><br>
</div>
<p class="p-3 mb-2 bg-dark text-white" style="opacity: 0.9;"><strong>Our World Class Training Grounds</strong></p>
<p class="bg-dark text-white" style="opacity: 0.9;">GymPress open and spacious facilities are designed for function and functional fitness. Inside our industrially designed space, we are equipped with the the best stuff to get the job done. From weightlifting platforms to walls of bars and plates, dozens of medicine balls and pull-up stations, there’s plenty of space for our entire community. GymPress boasts 3,600 sq ft of open space that provides the ideal setting for fun, high-intensity group workouts and private one-on-one sessions.</p>
