<div id="bgimg" class="text-white" align="center">
  <br><br><br><br>
<h1 class="p-3 mb-2 bg-dark" style="opacity: 0.5;">{{title1}}</h1>
<p class="p-3 mb-2 bg-dark" style="opacity: 0.5;">{{title2}}</p>
<a routerLink="/about" class="btn btn-success">Download</a>
<br><br><br><br>
</div>
<br><br><br>

<div class="card-deck float-right" style="width: 18rem;">
  <img class="card-img-top" src="https://i.imgur.com/faMqVWg.png" alt="Card image cap">
</div>

<div class="card-deck" align="left">
  <div class="card-body">
    <h5 class="card-title">Yoga</h5>
    <p class="card-text" >{{yoga}}</p>
  </div>
</div>
<div class="card-deck" align="left">
  <div class="card-body">
    <h5 class="card-title">Gym Workout</h5>
    <p class="card-text">{{gym}}</p>
  </div>
</div>


<!--
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">specialty</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainer of trainers" >
      <th>{{trainer.id}}</th>
      <td>{{trainer.nombre}}</td>
      <td>{{trainer.specialty}}</td>
    </tr>
  </tbody>
</table>
-->
